body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, rgb(102, 142, 228), rgb(122, 145, 196));
    height: 100vh;

}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(128, 208, 223, 0.911);
}


.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: rgba(128, 208, 223, 0.911)
}

.username input:focus ~ label,
.username input:focus ~ label{
    width: 100%;
}

button {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: rgba(125, 173, 182, 0.911);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
}

button:hover{
    border-color: #82d1cd;
    transition: .5s;
    transform:scale(1.1);
}

button a{
    color: white;
    text-decoration: none;
}

nav{
    background-color: #333;
    padding: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    margin-right: 15px;
}